@import url('https://fonts.googleapis.com/css?family=Libre+Franklin');



body, #app{
  width: 100%;
  height: 100vh;
  overflow: hidden;
  font-family: 'Libre Franklin', serif;
   background:
      radial-gradient(ellipse, #202060 10%, black 80%);
}
